/* .all-integrations {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    justify-content: center;
} */

.invite-members {
    display: flex;
    justify-content: flex-end;
    margin: 3vh 0;

    button {
        background-color: #006FB9;
        color: #fff;
        border: none;
        border-radius: 0.5vw;
        padding: 0.91vh 4.193vw;
    }
}

.integration-item {
    margin: 1.5vh 0;
    /* max-width: 22vw; */
    border: 0.07vw solid #424242;
    padding: 1.042vw;
    border-radius: 1vw;
    background: #fff;
    box-shadow: 0vw 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.integration-item:hover {
    transform: translateY(-0.5vh);
}

.img-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-btn img {
    width: 3.516vw;
    height: auto;
    border-radius: 1vw;
}

/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 3.12vw;
    height: 1.7vw;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch input:checked+.slider {
    background-color: #006FB9;
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(1.4vw);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.3s ease;
    border-radius: 4vw;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.3vw;
    width: 1.3vw;
    left: 0.2vw;
    bottom: 0.2vw;
    background-color: white;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.integrations-head {
    font-size: 0.92vw;
    color: #000;
    font-weight: 600;
    margin: 1vh 0 0;
}

.integrations-text {
    color: #666;
    font-size: 0.912vw;
    line-height: 1.4;
    margin: 0.5vh 0vw;
}

@media screen and (max-width:768px) {
    .integration-item {
        padding: 4.042vw;
        border-radius: 3vw;
    }
    .toggle-switch {
        width: 48px;
        height: 26px;
    }

    .slider {
        top: 1vh;
    }

    .slider:before {
        width: 15px;
        height: 15px;
        top: 2px;
        left: 2px;
    }

    .toggle-switch input:checked+.slider:before {
        transform: translateX(5vw);
    }

    .img-btn img {
        width: 12.76vw;
    }
}